.header {
    margin-bottom: 100px;
}

.section-my-search {
    margin-bottom: 50px;
}

.location {
    border: 1px solid black;
    margin: 30px;
    padding: 15px;
    border-radius: 30px;
}

.img-logo {
    width: 70px;
}