<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/}">
        <img th:attr="src=@{/content/image/weather-logo.png}" width="70" height="50" alt="weather-logo">
      </a>
      <span class="navbar-text" th:text="${login}" th:if="${login != null}"></span>
      <form th:action="@{/logout}" method="get" th:if="${login != null}">
        <button type="submit" class="btn btn-secondary">Logout</button>
      </form>
      <a th:href="@{/signIn}">
        <button type="button" class="btn btn-secondary">Sign In</button>
      </a>
      <a th:href="@{/registration}">
        <button type="button" class="btn btn-secondary">Sign Up</button>
      </a>
    </div>
  </nav>
</header>
